.idea/
sim/out/
__pycache__
.ipynb_checkpoints
botify/log/*
botify/data/*.json
!botify/data/tracks.json
botify/data/embeddings.npy
.DS_Store

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
sim/data/embeddings.npy
botify/data/embeddings.npy
